<div class="custom-deck-builder">
	<h1>
		Cryptozoic Deck Building Game
		<br/>
		<span class="subtitle">Custom Card Builder</span>
	</h1>
	<main></main>
	<footer>Cryptozoic engine &copy; {{currentYear}} <a href="https://www.cryptozoic.com/">Cryptozoic Entertainment</a>. This is a fan project by <a href="https://github.com/JacobFischer">Jacob Fischer</a>. Source availible on <a href="https://github.com/JacobFischer/Custom-Deck-Builder">Github</a>.</footer>
</div>
