<div class="custom-deck-builder">
	<div class="page-title">
		<h1>
			<span class="title">{{title}}</span>
			<span class="subtitle">{{subtitle}}</span>
		</h1>
	</div>
	<main></main>
	<footer>Cryptozoic engine &copy; {{currentYear}} <a href="https://www.cryptozoic.com/">Cryptozoic Entertainment</a>. This is a fan project by <a href="https://github.com/JacobFischer">Jacob Fischer</a>. Source availible on <a href="https://github.com/JacobFischer/Custom-Deck-Builder">Github</a>.</footer>
</div>
