$white: #ffffff;
$black: #000000;
$light-black: #555555;

$off-white: #eaeaea;
$light-gray: #ddd;
$gray: #bbb;
$dark-gray: #999;

$error: #f82104;//#e02605;

$primary: #00adea;
$primary-dark: #007AA2;
$primary-darkest: #005F7F;
$primary-light: #06C1FF;
$primary-lightest: #27C7FC;

$primary-bar: #00adea;

$secondary: #FFC60E;
$secondary-dark: #CD9D00;
$secondary-darkest: #A17B00;
$secondary-light: #FFD240;
$secondary-lightest: #FFDC6A;
