@font-face {
    font-family: CompactaBT;
    src: url("../../resources/fonts/CompactaBT-Roman.otf") format("opentype");
}

@font-face {
    font-family: CompactaBT;
    font-weight: bold;
    src: url("../../resources/fonts/CompactaBT-Bold.otf") format("opentype");
}

@font-face {
    font-family: CompactaBT;
    font-style: italic;
    src: url("../../resources/fonts/CompactaBT-Italic.otf") format("opentype");
}



@font-face {
    font-family: CompactaBdBT;
    src: url("../../resources/fonts/Compacta-Bd-BT-Roman.ttf") format("truetype");
}

@font-face {
    font-family: CompactaBdBT;
    font-weight: bold;
    src: url("../../resources/fonts/Compacta-Bd-BT-Bold.ttf") format("truetype");
}



@font-face {
    font-family: TradeGothic;
    src: url("../../resources/fonts/TradeGothic-Regular.woff") format("woff");
}

@font-face {
    font-family: TradeGothic;
    font-weight: bold;
    src: url("../../resources/fonts/TradeGothic-Bold.ttf") format("truetype");
}

@font-face {
    font-family: TradeGothic;
    font-style: italic;
    src: url("../../resources/fonts/TradeGothic-Italic.otf") format("opentype");
}
