@import "./utils.scss";
@import "./colors.scss";

*, *:before, *:after {
    @include transition(all $transition-time ease-in-out);
}

p {
    margin: 0 0 1em 0;
}

* + p {
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    & + p {
        margin-top: 0;
    }
}

// these styles should not be seen, or if so just while the UI loads
body {
    background: $primary-darkest;

    & > .unloaded-message {
        color: $secondary;
        display: block;
        font-weight: bold;
        font-size: 3em;
        margin: 1em auto;
        text-align: center;
    }
}