<div class="help-tab">
	<p>This tab is intended for help with using this tool, specifically uding the <a href="#deck-generator">Deck Generator</a> functionality.</p>
	<section class="availible-options">
		<h2>Your Custom Spreadsheet</h2>
		<p>Most of the funtionality of this tool is in creating your down <abbr title="Cryptozoic Game Engine">CGE</abbr> deck. To do that all you need to create is a spreadsheet in your office sheet of choice, and follow these rules when formatting it.</p>
		<p>The first row of your spreadsheet <strong>must</strong> be the headers for each column of options. The list of availible options is below:</p>
		<div class="card-options"></div>
		<p>After you make your first row, all entries after count as a card. You can create blank rows and they will be skipped over. Columns that do not match one of the above options are skipped as well, so feel free to add columns to help you organize your cards.</p>
		<p>Additionally there are two special rows. If you name your card <code>__defaults__</code>, then <strong>all</strong> cards after it will default to the values of that row. This is useful for setting all the values for shared options such as Set, Legal, Copyright, etc. The other row name is <code>__oversized_defaults__</code> but will only be applied to Oversized cards.</p>
	</section>
	<section>
		<h2>Examples</h2>
		<p>Below are some examples of valid what to expect and valid spreadsheets to use.</p>
		<p>For an example spreadsheet for use with this tool, check out my <a href="https://docs.google.com/spreadsheets/d/1C4sG2btMuTEaFaTlKtoSytHsuSTmM2uhnR2j-IEhsKk/edit?usp=sharing">Overwatch Deck Building Game spreadsheet here</a>. You can download the first sheet as a CSV file and import it using this tool to generate your own copy of the deck.</p>
		<img src="../../../../resources/images/card-help.png" alt="card example" title="Example of what column names effect what parts of the card."/>
		<p>For any issues, especially technical ones, create an <a href="https://github.com/JacobFischer/Custom-Deck-Builder/issues">issue on GitHub</a>.</p>
	</section>
</div>
