<div class="live-editor">
	<div class="tables">
		<p>This tab allows you to edit cards live to get a feel for how this tool works. Feel free to play around with it, but for serious card generation please use the <a href="#deck-generator">Deck Generator</a> tab to generation large batches of cards properly.</p>
		<div class="defaults-table">
			<h2 title="These are default values for all custom cards.">Card Defaults</h2>
		</div>
		<div class="custom-cards">
			<h2 title="These are custom cards you can create and play with to see how this builder works">Custom Cards</h2>
			<div class="cards-table"></div>
			<div class="custom-cards-bottom">
				<div class="canvases-scale">
					<label for="canvases-scale-slider">Card Scale: </label>
					<input id="canvases-scale-slider" class="canvases-scale-slider" type="range" min="0.05" max="1" step="any" value="0.5"/>
					<span class="canvases-scale-percent"></span>
				</div>
				<button class="reset-to-defaults" title="Resets the custom and default card rows to default values">Reset to defaults</button>
				<button class="add-row-button">&#65291; Add Row</button>
			</div>
		</div>
		<div class="too-many-cards collapsed">
			<span class="warning-block">You've created a lot of custom cards. You should probably use the <a href="#deck-generator">Deck Generator Tool</a> to handle all these cards instead.</span>
		</div>
	</div>
	<div class="canvases"></div>
</div>
