@import "src/styles/colors.scss";
@import "src/styles/utils.scss";

.live-editor {
    & .custom-cards-bottom {
        float: left;
        width: 100%;
        margin-top: 0.5em;
    }

    & .canvases-scale {
        margin-top: 0.375em;
        float: left;

        & .canvases-scale-percent {
            margin-left: 0.5em;
            color: $primary-dark;
        }
    }

    & .add-row-button {
        font-weight: bold;
        cursor: pointer;
        float: right;
        margin-right: 0.625em;
    }

    & table {
        width: 100%;

        & input, & select, & textarea {
            font-size: 1em;
            width: 100%;
            padding: 0.25em;

            &[type=number] {
                width: 4em;
                text-align: right;
            }

            &[type=color] {
                padding: 0;
                background: transparent;
                border: 0;
                cursor: pointer;

                @include browser('Chrome') {
                    height: 2em;
                }
            }
        }

        & input[type=checkbox] {
            display: none;

            & + label:before {
                font-weight: bold;
                content: ' '; // checkmark
                cursor: pointer;
                min-width: 1.5em;
                min-height: 1.5em;
                padding: 0.125em;
                display: inline-block;
                @extend .input-like;
            }

            &:checked + label:before {
                content: '\2713';
            }
        }

        & .column-logoScale, & .column-copyright {
            & input {
                width: 3.75em;
            }
        }

        & input[type=color] {
            width: 5em;
        }

        & textarea {
            height: 3.5em;
            resize: none;
        }

        & .column-copyright {
            & input {
                width: 4.5em;
            }
        }

        & .column-type, & .column-subtype {
            & select, & input {
                width: 6em;
            }
        }

        & .column-legal {
            & textarea {
                width: 20em;
            }
        }

        & .column-set, & .column-name, & .column-imageURL, & .column-logoURL {
            & input {
                width: 8.75em;
            }
        }

        & .column-cost, & .column-victoryPoints {
            & input {
                width: 2.5em;
            }
        }

        & .column-text {
            width: 30em;

            & textarea {
                width: 100%;
            }
        }

        & .column-delete > button {
            font-weight: bold;
            cursor: pointer;
        }

        & tr {
            & td {
                text-align: center;
                padding: 0;
                opacity: 0;

                & > div { //we assume it's hidden by default
                    max-height: 0;
                    margin: 0;
                }

                &.error input {
                    border-color: $error;
                    background-color: lighten($error, 35%);
                }
            }

            // this div is a wrapper so we can animate max-height changes
            &.shown > td {
                opacity: 1;

                & > div {
                    margin: 0.5em;
                    max-height: 4.5em;
                    overflow: hidden;
                    box-sizing: border-box;
                }
            }
        }
    }

    & .canvases {
        text-align: center;

        & canvas {
            margin: 0.75em;
            display: inline-block;
            opacity: 0;
            max-height: 0;
            max-width: 0;
            overflow: hidden;

            &.shown {
                opacity: 1;
                max-height: 1200px;
                max-width: 900px;
            }
        }
    }
}