$white: #ffffff;
$black: #000000;
$light-black: #555555;

$light-gray: #ddd;
$gray: #bbb;
$dark-gray: #999;

$error: #c82104;//#e02605;

$primary: #076fa2;
$primary-dark: #05577F;
$primary-darkest: #034463;
$primary-light: #2682AF;
$primary-lightest: #4896BC;

$secondary: #FFC60E;
$secondary-dark: #CD9D00;
$secondary-darkest: #A17B00;
$secondary-light: #FFD240;
$secondary-lightest: #FFDC6A;
