<div class="custom-deck-builder">
	<h1>Cryptozoic Deck Building Game Card Builder</h1>
	<div class="tables">
		<div class="defaults-table">
			<h2>Card Defaults</h2>
		</div>
		<div class="cards-table">
			<h2>Custom Cards</h2>
		</div>
	</div>
</div>
