<section class="about-tab">
	<h2>About This Tool</h2>
	<p>This application is a <strong>fan creation</strong> by <a href="https://github.com/JacobFischer/">Jacob Fischer</a> with the sole intent of making it easier to try custom cards in Cryptozoic's Game Engine. It is open source and available on <a href="https://github.com/JacobFischer/Custom-Deck-Builder">GitHub</a>.</p>
	<p>No cards produced using this tool should be used to profit from. Instead please buy Cryptozoic's own deck building games utilizing their engine such as the DC Deck Building game, they are excellent.</p>
	<p>This project was produced mostly as a tool to help its author more easily prototype custom cards to try with and around Cryptozoic's own titles, as well as an excuse to brush up on some technical skills.</p>
	<h2>Technical Details</h2>
	<p>This application is an <a href="https://en.wikipedia.org/wiki/Single-page_application" title="Single-page Application">SPA</a>. Once you load the page you have everything you need to build some custom cards. <strong>No</strong> data is saved on a server somewhere. All the processing is done and saved on your machine via your web browser. I'm not interested in tracking you or stealing your data.
	</p>
	<p>This project was made using a variety of frameworks:
		<dl>
			<dt><a href="https://www.typescriptlang.org/" title="JavaScript with types">TypeScript</a></dt>
			<dd>The coding language used for pretty much everything in this project.</dd>

			<dt><a href="http://sass-lang.com/" title="Syntactically Awesome Style Sheets">SASS</a></dt>
			<dd>Used to control the style and most animations on this page.</dd>

			<dt><a href="http://handlebarsjs.com/" title="Simple HTML Templates">Handlebars</a></dt>
			<dd>Used to template the HTML layout and elements for all page sections.</dd>

			<dt><a href="http://www.pixijs.com/" title="2D graphics library for easily drawing cards">PIXI.js</a></dt>
			<dd>Currently the best browser library for manipulating 2D graphics and images on canvases. Used to render the custom cards.</dd>

			<dt><a href="https://www.npmjs.com/" title="Node Package Manager">NPM</a></dt>
			<dd>The biggest and most popular JavaScript package manager, that hosts many of the smaller modules not explicitly mentioned here, but are still necessary to run.</dd>

			<dt><a href="https://webpack.js.org/">Webpack 2</a></dt>
			<dd>What wraps all these things together into a single page. I used this opportunity to transition Webpack 1.x skills to 2.0.</dd>
		</dl>
	</p>
	<p>All the source code, commits, and resources are available freely on <a href="https://github.com/JacobFischer/Custom-Deck-Builder">GitHub</a>. All classes, methods, and exports and documented using well formed docstrings so if you wish to modify this tool do so to your heart's content!</p>
</section>
