<div class="help">
	<p>For an example spreadsheet for use with this tool, check out my <a href="https://docs.google.com/spreadsheets/d/1C4sG2btMuTEaFaTlKtoSytHsuSTmM2uhnR2j-IEhsKk/edit?usp=sharing">Overwatch Deck Building Game spreadsheet here</a>.</p>
	<p>For any issues, especially technical ones, create an <a href="https://github.com/JacobFischer/Custom-Deck-Builder/issues">issue on GitHub</a>.</p>
</div>
